* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
}

/* ---------------------------------------------------------- */
.banda {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 270px;
    padding: 30px 50px;
    border-radius: 10px;
    margin-top: 0;
    
}

h1 {
    text-align: center;
    margin: 40px 0 20px 0;
    margin-top: 100px;
    font-size: 64px;
}

.imagem_banda img {
    width: 500px;
    height: auto;
    border-radius: 10px;
    object-fit: cover;
}

.estilo_da_banda {
    font-family: 'Poppins', sans-serif;
}

.estilo_da_banda p {
  font-size: 30px;
  margin-bottom: 10px;
}

.redes_sociais {
    margin-top: 15px;
    display: flex;
    gap: 15px;          
}

.redes_sociais a {
    color: #030303;     
    font-size: 50px;
    transition: 0.3s;
}

.botao_whatsapp {
    margin-top: 180px;
    text-align: center; 
}

.botao_whatsapp a {
    display: inline-flex;
    align-items: center;
    justify-content: start;
    gap: 10px;              
    background-color: #04A777; 
    color: white;
    padding: 12px 25px;
    border-radius: 30px;
    font-size: 28px;
    font-weight: 600;
    text-decoration: none;
    transition: 0.3s;
}
.botao_whatsapp a:hover {
    opacity: 0.9;
}

.cache {
    margin-top: 180px;       
    font-size: 48px !important;
    font-weight: 800;
    text-align: center; 
    font-family: 'Poppins', sans-serif    
}

.valor {
    font-size: 48px;
    color: #3A0CA3;
}

#sobre_a_banda {
   padding: 80px;
}

.sobre {
    font-size: 30px;
    padding: 20px;
}

.texto_banda {
    font-size: 30px;
    margin-top: 30px;
    padding: 20px;
}

@media (max-width: 768px) {
   .banda {
        flex-direction: column;  
        gap: 30px;
        text-align: center;
        padding: 20px;
    }

    .imagem_banda img {
        width: 200px;
    }

    .estilo_da_banda p {
        font-size: 15px;
    }
     .redes_sociais {
        justify-content: center; 
        gap: 20px;
    }

    .redes_sociais a {
        font-size: 18px;        
    }

     .botao_whatsapp {
        margin-top: 60px; 
    }

    .botao_whatsapp a {
        padding: 10px 20px;
        font-size: 14px;
    }
    .cache {
        font-size: 20px !important;
        margin-top: 80px;
    }
    .valor {
        font-size: 20px;
    }

    #sobre_a_banda {
        padding: 40px; 
    }

    .sobre {
        font-size: 22px; 
        padding: 10px;   
        text-align: center; 
    }

    .texto_banda {
        font-size: 18px;  
        margin-top: 20px; 
        padding: 10px;   
        text-align: justify; 
    }
}
